/*Ernest*/
body{
background:#F6F6F6;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-family:Times New Roman ;
font-weight: 500;
font-size: 18px;
}



.ernest{
    margin:0 auto;
    background:white;
    margin:5%;
    padding:2%;
    padding-bottom: 10%;
    
}
.ernest h3{
font-weight:900;
    
}
.ernest p{
font-weight:900;
font-size: 20px;
    margin:0;
}


.e_img_logo{
    width:10%;
}
.e_date{
    padding:0 !important;
    width: 50%;
}

.e_date p{
     padding: 0px;
    margin: 0;
    display: inline;
text-align:left;
font-weight: 600;
font-size: 16px;
float:left;
width:5%;

}

.e_date input[type="text"]{
    float:right;
border:none;
outline: none;
border-bottom: 2px dotted;
padding:0 !important;
margin:0 !important;
padding-left: 1% !important;
width:85%;
}
.e_date input[type="text"]:focus{
border:none ;
outline: none;
border-bottom: 2px dotted;
padding:0 !important;
margin:0 !important;
padding-left: 1% !important;

}

.e_general p{
    font-size: 18px;
    font-weight: 600;

}

.e_mass p{
    font-weight: 200;
        font-size: 18px;
float: left;
}

.e_mass input[type="text"]{
    float:right;
border:none;
outline: none;
border-bottom: 1px dotted;
padding:0 !important;
margin:0 !important;
padding-left: 1% !important;
width:40%;
}

.e_bp p{
    font-weight: 200;
        font-size: 18px;
float: left;
}

.e_bp input[type="text"]{
    
border:none;
outline: none;
border-bottom: 1px dotted ;
padding:0 !important;
margin:0 !important;
padding-left: 1% !important;
width:40%;
}


.e_content_main{
    margin-top:10%;

}

.e_content_main p{
    font-weight: 200;
}

.e_main_row{
    padding:0 !important;
    
}
.e_main_col{
    margin-top:2%;
}

.e_ac1_input{
border:none;
outline: none;
border-bottom: 2px dotted;
padding:0 !important;
margin:0 !important;
padding-left: 1% !important;
width:100% ;
}
.e_ac1_input:focus{
border:none;
outline: none;
border-bottom: 2px dotted;
padding:0 !important;
margin:0 !important;
padding-left: 1% !important;
}


.e_date_input{
    border:none ;
    outline: none !important;
    border-bottom: 1px dotted;
    width: 60% !important;
}

.e_date_input:focus{
    border:none ;
    outline: none !important;
    border-bottom: 1px dotted;
}
.e_other_input{
     border:none ;
    outline: none !important;
    border-bottom: 1px dotted;
}
.e_other_input:focus{
     border:none ;
    outline: none !important;
    border-bottom: 1px dotted;
}

.ch1{
    float:left;
    margin:1% !important;
    margin-left:0 !important;
}


.q38{
margin:6% !important;
margin-left:20% !important;
}
.q39{
    margin:6% !important;
    margin-left:1% !important;
}



 @media screen and (max-width: 420px) {
    .col-sm-7{
        width: 100% !important;
    }

.ernest{
    margin:0 auto;
    background:white;
    margin:5%;
    margin-top:0;
    padding:2%;
    padding-bottom: 10%;
    padding-top: 10%;    
}
.e_date{
    width:100%;

}
.e_mass input[type="text"]{
float:left;
width:100%;
}
.e_mass{
    margin-bottom: 5%;
}

.e_bp input[type="text"]{
width:70%;
}

.e_yes{
    width:48.4% !important;
}

.ch1{
    float:left;
    margin:2% !important;
   
    
}

.q38{
margin:50% !important;
margin-left:20% !important;
}

.e_date_input{
    width:100%;
    
}
.e_other_input{
    margin-top:30% ;
}


}


/*Ernest*/


/*Kelvin*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   
  }
input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.2rem dotted black; 
    margin-bottom:2%;  
      
}
input[type="text"]{
    margin-left: 4%;
    width: 90%;
}

.one td{
    border-bottom: none;
    border-top: none;
}
input:focus{
    border: none;
    border-bottom: 0.2rem dotted black;
    outline: none;   
      
}
.two input{
    border: none;
    outline: none;
}
.three td{
    border-bottom: none;
    
}

.k_table_2{
    display: flex;
    flex-direction: row;
    width: 900px;
}







/*Kelvin*/


/* Toronto */

body{
    background:#F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Times New Roman ;
    }
form{
    width: 100%;
    background: #fff;
} 
input{
    width: auto;
    
}








/* Toronto */




